<div class="public-recipe">
    <div class="info">
        <%= link_to recipe.name, user_recipe_path(id: recipe.id, user_id: recipe.user.id) %>
        <h3>By: <%= recipe.user.name%> </h3>
    </div>
    <div>
    <h5 class="mt-3">Total foods: <%= recipe.recipe_foods.length %> </h5>
        <% sum = 0 %>
        
        <h5>Total price : $ <% recipe.recipe_foods.each do |food| %>
        <% sum += food.food.price %>
        <% end %>
        <%= sum %></h5>
    </div>
</div>
